node_modules/
package-lock.json
homework_demo/
samples/
homework_11/testApp/.editorconfig
homework_11/testApp/.gitignore
homework_11/testApp/README.md
homework_11/testApp/angular.json
homework_11/testApp/e2e/
homework_11/testApp/package.json
homework_11/testApp/src/assets/
homework_11/testApp/src/browserslist
homework_11/testApp/src/environments/
homework_11/testApp/src/favicon.ico
homework_11/testApp/src/index.html
homework_11/testApp/src/karma.conf.js
homework_11/testApp/src/main.ts
homework_11/testApp/src/polyfills.ts
homework_11/testApp/src/styles.css
homework_11/testApp/src/test.ts
homework_11/testApp/src/tsconfig.app.json
homework_11/testApp/src/tsconfig.spec.json
homework_11/testApp/src/tslint.json
homework_11/testApp/tsconfig.json
homework_11/testApp/tslint.json