node_modules/
package-lock.json
homework_demo/
samples/
angular_homework/testApp/.editorconfig
angular_homework/testApp/.gitignore
angular_homework/testApp/README.md
angular_homework/testApp/angular.json
angular_homework/testApp/e2e/
angular_homework/testApp/package.json
angular_homework/testApp/src/assets/
angular_homework/testApp/src/browserslist
angular_homework/testApp/src/environments/
angular_homework/testApp/src/favicon.ico
angular_homework/testApp/src/index.html
angular_homework/testApp/src/karma.conf.js
angular_homework/testApp/src/main.ts
angular_homework/testApp/src/polyfills.ts
angular_homework/testApp/src/styles.css
angular_homework/testApp/src/test.ts
angular_homework/testApp/src/tsconfig.app.json
angular_homework/testApp/src/tsconfig.spec.json
angular_homework/testApp/src/tslint.json
angular_homework/testApp/tsconfig.json
angular_homework/testApp/tslint.json